html, body{
  width:100%;
  height:100%;
  background-color:#4A5B6C;
  margin:0px;
  padding:0px;
  overflow-x: hidden;
  overflow-y: auto;
}

#main {
   margin: 0px;
   padding: 0px;
   height:100%;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}

#menuEditor{
  box-shadow: 0px 0px 5px black;
  position:fixed;
  top:0px;
  left:0px;
  height: 40px;
  cursor: pointer;
  color:white;
}

#menuEditor span{
  vertical-align: central;
  height: 40px;
}

#menuEditor li{
  background-color:#384552;
  z-index:99;
}

#menuEditor, #menuEditor ul{
  background-color:#384552;
  width:100%;
  height:25px;
  z-index:100;
}

#menuEditor ul{
  width:120px;
  padding : 0px;
  margin : 0px;
  list-style : none; 
  text-align : center;
  padding: 4px 0px;
  height: 1em;
}

#menuEditor>ul{
  position:relative;
  width:120px;
  display :inline-block;
  text-align : center;
  vertical-align: top;
  border-right: 1px solid #2F2F2F;
}

ul ul{
  display:none;
  background-color:#384552;
  z-index:99;
}

ul:hover>ul{
  display:block;
}

#toolOption{
  color:white;
  font-weight: bold;
  position: relative;
  padding:0px 5px 0px 5px;
  background-color:#384552;
  box-shadow: 0px 0px 5px black;
  z-index: 50;
  -webkit-flex: 1 1 400px;
          flex: 1 1 400px;
  -webkit-order: 3;
          order: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

#option{
  margin:auto;
  margin-top: 40px;
}

#option label{
  width: 120px;
  display: inline-block;
}

#option label.large{
  width: 200px;
}

#toolEditor{
  position: relative;
  padding:0px 15px 0px 5px;
  background-color:#384552;
  box-shadow: 0px 0px 5px black;
  z-index: 50;
  -webkit-flex: 1 1 40px;
          flex: 1 1 40px;
  -webkit-order: 2;
          order: 2;
}

.icon-little{
  background-image:url("../design/icon-app.jpg");
}

.tool{
  background-image:url("../design/icon-app.jpg");
  width:40px;
  height:40px;
}

#tuto .tool{
    display: inline-block;
    transform: scale(0.75);
    transform-origin: left bottom; 
}

#toolEditor .tool:first-child{
  margin-top:45px;
}

#toolEditor .tool:last-child{
  margin-bottom: 15px;
}

#back_dimension{background-position: left top;}
#back_add{background-position: -40px top;}
#back_border{background-position: -80px top;}
#back_color{background-position: -120px top;}
#back_text{background-position: -160px top;}
#back_code{background-position: -200px top;}
#back_margin{background-position: -240px top;}
#back_del{background-position: -280px top;}
#back_move{background-position: -320px top;}
#back_ficheSaver{background-position: left -100px;}

#back_select_{background-position: left top;}
#back_add_{background-position: -40px top;}
#back_border_{background-position: -80px top;}
#back_color_{background-position: -120px top;}
#back_text_{background-position: -160px top;}
#back_code_{background-position: -200px top;}
#back_margin_{background-position: -240px top;}
#back_del_{background-position: -280px top;}

#bodyEditor{
  position: relative;
  z-index: 0;
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-order: 1;
          order: 1;
  overflow: auto;
}

#fiche{
  position: relative;
  margin: auto;
  top: 60px;
  width: 50%;
  background: hsl(0, 0%, 87%);
  min-height: 400px;
  padding: 40px;
}
p.newElem{
  background-color: rgba(255, 253, 253, 0);
}
.newElem{
  background-color: rgba(255, 253, 253, 0.5);
  position:relative;
  min-height: 50px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

#tuto{
  color: #FFFFFF;
}

#tuto a, #popup-body a{
  color: #ddFFdd;
}

.large-button{
  width:100%;
}

.export {
    width: 95%;
    background: #4A5B6C none repeat scroll 0% 0%;
    color: #FFF;
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
    padding: 5px;
    margin: -10px auto;
    font-size: 14px;
}

#option h2, #popup-body h2{
    color:white;
    text-transform: uppercase;
    font-size: 1.4em;
}

/*popup*/
#popup {
    position: absolute;
    width: 100vw;
    background-color: rgba(93, 93, 93, 0.84);
    top: 0px;
    left: 0px;
    z-index: 200;
    overflow-y: hidden;
    max-height: 100vh;
}

#popup > * {
    background-color: #384552;
    box-shadow: 0px 0px 5px #000000;
    min-width: 300px;
    max-width:750px;
    width:50%;
    min-height: 20vh;
    margin: 5% auto 0% auto;
    padding: 10px;
    overflow-y: auto;
    max-height: 70vh;
    color: white;
    margin-bottom: 75vh;
}

#popup input{
    color:black
}

#popup textarea{
    width: 98%;
    height: 6em;
}

#close-popup{
  float: right;
  height: 15px;
  width: 15px;
  padding: 0px 4px 5px 4px;
  text-align: center;
  color: #FFF;
  background-color: #070623;
  display: block;
  margin-top: -10px;
  margin-right: -10px;
}

#popup label.saveSys{
  display: block;
  width: 80%;
}

span.numero{
    display: inline-block;
    width:100px;
    padding-left: 15px;
}
span.numero + span{
    display: inline-block;
    width:160px;
}
.saveSys {
    padding: 2px;
}

.icon-btn{
  background-image:url("../design/icon-app.jpg");
  width:40px;
  height:40px;
}

#popup label {
    color: #FFF;
    width: 45%;
    display: inline-block;
}

label {
    margin-top: 5px;
    color: white;
    text-transform: capitalize;
    min-width: 100px;
    display: inline-block;
}
#active_node {
  position: absolute;
  border: 2px dashed black;
  height: 100%;
  margin: 0px;
  width: 100%;
  top: -2px;
  left: -2px;
}

#active_node .top {
    background: #5a5a5a;
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0px;
    border: 1px solid #9c9999;
    min-width: 300px;
    box-shadow: 0px -1px 5px;
}
#active_node .top label {
    min-width: 5px;
}
#active_node .top input {
    width: 40px;
}
#active_node .bottom {
    background: #5a5a5a;
    display: block;
    position: absolute;
    top: 100%;
    left: 100%;
    width: 20px;
    height: 20px;
    box-shadow: 0px -1px 5px;
}

tool-frame{
    display:none;
}

.flex-break {
    display: flex;
    flex-wrap: wrap;
}