<cgu>
  <div>
    <div id="close-popup" onclick={
    unmount}>x</div>
    <h1> Conditions Générales d'Utilisation (CGU)</h1><br/>

    Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part,  Lesage Yann , ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.<br/><br/>

    Toute connexion au site est subordonnée au respect des présentes conditions.<br/><br/>

    Pour l’utilisateur, le simple accès au site de l’EDITEUR à l’adresse URL suivante http://www.rpdiv.com/  implique l’acceptation de l’ensemble des conditions décrites ci-après.<br/><br/>

    <h2>Propriété intellectuelle</h2><br/>

    La structure générale du site RPdiv.com , ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site RPdiv.com , par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de  Lesage Yann et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.<br/><br/>

    Aucune reproduction, même partielle prévue à l’article L.122-5 du Code de la propriété intellectuelle, ne peut être faite de ce site sans l’autorisation du directeur de publication.<br/><br/>

    Les présentes conditions générales (CGU) sont une reproduction intégrale ou partielle du <a href=\"http://www.droitissimo.com/contrat/conditions-generales-dutilisation-cgu-dun-site-internet\">Modèle de CGU (conditions générales d'utilisation) d'un site Internet</a>, dont le titulaire des droits d'auteur est DROITISSIMO.COM, site internet d'information juridique grand public. <br/><br/>

    <h2>Liens hypertextes</h2><br/>

    Le site  RPdiv.com  peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site RPdiv.com.<br/><br/>

    Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’EDITEUR. Aucune autorisation ou demande d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, l’EDITEUR se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site RPdiv.com<br/><br/>

    <h2>Responsabilité de l’éditeur</h2><br/>

    Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.<br/><br/>

    Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.<br/><br/>

    L’EDITEUR se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.<br/><br/>

    Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.<br/><br/>

    Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.<br/><br/>

    L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que l’EDITEUR puisse être recherché à ce titre, et sans recours contre ce dernier.<br/><br/>

    L’EDITEUR ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.<br/><br/>

    <h2>Accès au site</h2><br/>

    L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de l’EDITEUR, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.<br/><br/>

    Par conséquent, l’EDITEUR ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.<br/><br/>

    La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.<br/><br/>

    Par ailleurs, l’EDITEUR peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que l’EDITEUR ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.<br/><br/>

    <h2>Modification des conditions d’utilisation</h2><br/>

    L’EDITEUR se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.<br/><br/>

    <h2>Règles d'usage d'Internet</h2><br/>

    L’utilisateur déclare accepter les caractéristiques et les limites d’Internet, et notamment reconnaît que :<br/>

    L’EDITEUR n’assume aucune responsabilité sur les services accessibles par Internet et n’exerce aucun contrôle de quelque forme que ce soit sur la nature et les caractéristiques des données qui pourraient transiter par l’intermédiaire de son centre serveur.<br/>

    L’utilisateur reconnaît que les données circulant sur Internet ne sont pas protégées notamment contre les détournements éventuels. La communication de toute information jugée par l’utilisateur de nature sensible ou confidentielle se fait à ses risques et périls.<br/>

    L’utilisateur reconnaît que les données circulant sur Internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété.<br/>

    L’utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur Internet.<br/>

    L’utilisateur reconnaît que l’EDITEUR ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles sur Internet.<br/><br/>

    <h2>Droit applicable</h2><br/>

    Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.<br/><br/>

    Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse suivante :<br/>
    ethanvaltena@rpdiv.com

    <h2>Politique de gestion des cookies</h2><br/>

    Nous utilisons des cookies persistant afin d'améliorer l'expérience utilisateur. Ces cookies sont conservés sur votre ordinateur même après fermeture de votre 
    navigateur et réutilisé lors des prochaines visites sur nos sites. Rpdiv n'utilise pas de cookies pour vous tracer, vous proposer de la publicité ou pour récolté des informations personnel.
    Les seuls cookies utilisés sont :<br/>
    - un cookie de session pour que n'ayez pas à vous reconnecter à chaque page<br/>
  </div>
</cgu>