<contact>
  <div>
    <div id="close-popup" onclick={
    unmount}>x</div>
    <!--<form>
      <label for="cat">unité</label>:
      <select name="cat" id="cat" ng-model="tool.options.css.txt.unite" ng-change="autoApply()">
        <option value="bug" selected>reporter un bug</option> 
        <option value="improve">suggestion</option>
        <option value="improve">autre</option>
      </select><br/>
    </form> -->
    <div>Un problème ? Une suggestion ? une question ? Passez sur <a href="http://forum.rpdiv.com">notre forum</a> </div>
  </div>
</contact>