<create-fiche>
  <div>
    <div id="close-popup" onclick={unmount}>x</div>
    <h2>Creer une nouvelle Fiche </h2>
    <label for="createFiche">nom</label>:<input id="createFiche" type="text" placeholder="obligatoire"/><br />
    <label for="hautFiche">hauteur</label>:<input id="hautFiche" type="text" value="500"/><br />
    <label for="largFiche">largeur</label>:<input id="largFiche" type="text" value="500"/><br />
    <select name="select" id="uniteEdit" >
      <option value="px" selected>px</option>
      <option value="%">%</option>
    </select>
    <input type="submit" value="créer" onclick={createFiche}/>
    <input type="submit" value="annuler" onclick={unmount}/>
  </div>
  var self =this;
  createFiche(){
    self.opts.fiche.reset([{type:"id",name:"fiche",content:"width: "+self.hautFiche.value+ self.uniteEdit.value +"; height:"+ self.largFiche.value+ self.uniteEdit.value+";"}], null, self.createFiche.value);
    self.unmount(true);
  };
</create-fiche>

