<load-fiche >
  <div>
    <div id="close-popup" onclick={unmount}>x</div>
    <load-template></load-template><br />
    <h2>chargement en ligne</h2>
    <div hide={opts.auth.user.connected} id="localLogin"></div>
    <div id="online-load" show={opts.auth.user.connected}>
      <label for="fiche_name">nom de la fiche</label>:<input id="ficheName" type="text" value={origin.name} /><br />
      <label for="fiche_descr">description</label>:<br />
      <textarea id="ficheDescr" value={origin.fiche_descr}></textarea><br />
      <span class="numero">Numéro</span><span> Nom</span><br />
      <div class="flex-break"><div each={opts.fiche.slots} onclick={selectSlot} class="saveSys">
        <span class="numero">{slot}</span><span>{name}</span>
      </div></div>
      <button onclick={loadOnline}>charger</button>
    </div>
  </div>
  var self=this;
  self.on('mount', function (){
    riot.mount('#localLogin', "local-login" , self.opts);
  });
  
  self.opts.auth.on('login',function(){
    self.opts.fiche.loadSlots();
    self.update();
  });
  
  self.opts.fiche.on("slotLoaded",self.update);
  
  selectSlot(e){
    self.origin = e.item;
    if(self.originElem){
      self.originElem.style.border ="";
    }
    self.originElem= e.target.parentElement;
    self.originElem.style.border ="1.5px solid white";
  }
  
  loadOnline() {
     marmottajax({url: "/editor/loadFiche", method: "get", parameters:{id:self.origin.id}}).then(
      function(data){
        var info=JSON.parse(data).obj;
        console.log(info);
        self.opts.fiche.reset(info.css);
        document.getElementById("fiche").innerHTML = info.html;
      },function(){
        console.log("errorMsg");
      });
  };
</load-fiche>