<save-fiche>
  <div>
    <div id="close-popup" onclick={unmount}>x</div>
    <save-template></save-template><br />
    <h2>sauvegarde en ligne</h2>
    <div hide={opts.auth.user.connected} id="localLogin"></div>
    <div id="online-save" show={opts.auth.user.connected}>
      <label for="fiche_name">nom de la fiche</label>:<input id="ficheName" type="text" value={origin.name} /><br />
      <label for="fiche_descr">description</label>:<br />
      <textarea id="ficheDescr" value={origin.fiche_descr}
                placeholder="Profitez de ce champs pour décrire la fiche, citer le forum/site/groupe que vous reprentez. Vous pouvez y détailler les crédits mais n'oubliez pas les mettre dans la fiche directements si besoin est.">
      </textarea><br />
      <span class="numero">Numéro</span><span> Nom</span><br />
      <div class="flex-break"><div each={opts.fiche.slots} onclick={selectSlot} class="saveSys">
        <span class="numero">{slot}</span><span>{name}</span>
      </div></div>
      <label for="fiche_gallerie">dans la gallerie</label>:<input id="ficheGallerie" type="checkbox"/><br />
      <button onclick={saveOnline}>sauver</button><span>{return}</span>
    </div>
  </div>
  var self=this;
  self.on('mount', function (){
    riot.mount('#localLogin', "local-login" , self.opts);
  });
  
  self.opts.auth.on('login',function(){
    self.opts.fiche.loadSlots();
    self.update();
  });
  
  self.opts.fiche.on("slotLoaded",self.update);
  
  
  
  selectSlot(e){
    self.origin = e.item;
    if(self.originElem){
      self.originElem.style.border ="";
    }
    self.originElem= e.target.parentElement;
    self.originElem.style.border ="1.5px solid white";
  }
  
  saveOnline(e){
    self.return= "en cours";
    var fiche = {data:{}};
    if(self.origin.id){
      fiche.id=self.origin.id;
    }
    fiche.data.descr=self.ficheDescr.value;
    fiche.data.slot=self.origin.slot;
    fiche.data.name=self.ficheName.value;
    fiche.data.gallerie=self.ficheGallerie.checked;
    fiche.data.obj= self.opts.fiche.save();
            
    console.log("fiche to send",fiche);
          
    marmottajax({url:"/editor/saveFiche",method: "post", parameters: fiche}).then( function(){
      self.return="succes";
    }, function(){
      self.return="error";
    }).then(self.update);
  }
</save-fiche>