@@include('header.html', {"title": "doc de l'éditeur RPDIV"})
<h2>Présentation</h2>

<h3>Présentation du projet</h3>
<div>
    <span>Bienvenue sur la doc de l'éditeur Rpdiv. Le but est de vous fournir un outil pour construire vos codes html/css de manière entièrement graphique dans un photoshop-like.</span>
    <span>Vous trouverez dans la galerie des fiches mises à disposition par nos membres. Vous êtes libres de les réutiliser et les modifier. Cependant, merci de les créditer et de leur glisser un petit merci en commentaire de fiche.</span>
</div>

<h3>Présentation de l'interface</h3>
<div>
    <img src="/public/doc/media/overview.png" alt="interface de l'application"/>
    <ul class="number">
        <li>Menu général : site permet de naviguer vers dautres section, alors que fiches, lui est spécifique à l'application. Vous pourrez vous connecter dans ses onglets ainsi que sauver ou charger vos fiches en ligne ou en local. Seul les fiches sauvées en lignes avec la case "publier" de coché apparaitrons dans la galerie.</li>
        <li>Espace de travail. Vous serez à y faire de nombreux clics pour changer d'élément actif, en créer ou donner vie à votre fiche !</li>
        <li>Barre d'outil. Un clic sur l'icone activera l'outil correspondant.</li>
        <li>Boite de dialogue. Affiche les paramètres de l'outil sélectionné. Si auto-actualisation est coché, tout changement se répercutera sur la fiche directement. Sinon il faut valider les changement en cliquant sur "appliquer les changements".</li>
    </ul>
</div>

<h3>Participer au projet</h3>
<div>
    <span>Peu importe votre niveau en code, vous pouvez aider le projet de nombreuse manière :</span>
    <ul>
        <li>Aider à la rédaction de la documentation</li>
        <li>Créer des fiches précontruite qu'il ne reste qu'à remplir ou personnaliser</li>
        <li>Traquer les bugs et fautes sur le site et l'éditeur</li>
        <li>Faire un don à RPDIV sur <iframe src="http://www.tipeee.com/embed/project/108522?display=tipbox" allowtransparency="true" width="100%" height="90"></iframe></li>
        <li>Aider dans le développement informatique de l'outil</li>
    </ul>
    <span>Cette dernière solution est la seule à demander d'avoir les bases en développement web (css/html/js). Pas besoin, d'être un expert cependant. Vous ne serez pas seul et vous pourrez choisir ce que vous voulez faire (prenez contact quand même avec nous, ce serait bête de développer quelque chose qui serait rejeté)</span>
    
</div>
@@include('footer.html')