@@include('header.html', {"title": "prise en main :doc RPDIV"})
<h2>Prise en main rapide</h2>

<h3>Le projet</h3>
<div>
    <p>Nous verrons comme utilisé le logiciel à traver la création d'un cadre avec une photo et un texte</p>
</div>

<h3>Place au cadre</h3>
<div>
    <p>Selectionnez l'outil d'ajout en cliquant sur <img src="/public/doc/media/add_icon.png" alt="icone d'ajout"/>. Donnons lui le nom de cadre et laissons le type en bloc. Pour créer l'élément cadre, il suffit de cliquer dans l'espace de travail une fois. Un cadre blanc apparait.</p>
    <img src="/public/doc/media/quickTurn/cadre_blanc.png" alt="cadre blanc"/>
    <p>Nous allons maintenant donner des dimensions et de la couleur à notre cadre. Utilisez l'outil HLA <img src="/public/doc/media/hla_icon.png" alt="icone HLA"/>. Selectionnez  "px" comme Unité dans la liste déroulante. Donnez une largeur de 300 et une hauteur de 150. Pour le débordement, on veut cacher ce qui dépasserra. Choississez donc "cachez les débordements" dans la liste déroulante. </p>
    <p>Pour la couleur, cliquez sur le champs couleur de fond. vous devriez voir apparaitre un cadre de selection de couleur comme sur cette image :</p>
    <img src="/public/doc/media/quickTurn/color.png" alt="cadre de selection de couleur"/>
    <p>Pour le tutoriel nous avons choisi : FFFCD1. Nous obtenons ceci :</p>
    <img src="/public/doc/media/quickTurn/step1.png" alt="résultat à l'étape 1"/>
</div>

<h3>Place au contenu</h3>
<div>
    <p>On va ajouter du texte pour qu'il soit à gauche, puis l'image.</p>
    <p>Selectionnez l'outil texte <img src="/public/doc/media/text_icon.png" alt="icone texte"/> et tapez un texte. Vous verrez que le texte s'étale sur toute la largeur et colle aux bords. Nous ne voulons pas ça.</p>
    <p>Resélectionnez l'outil HLA, et changez l'unité en %, la largeur à 50% et la hauteur à 80%. Rien ne se passe ? Normal, les textes sont par défaut des lignes et non des blocs. Pour ne pas avoir de retour à ligne pour l'image, nous allons sélectionné "bloc en ligne" dans la liste déroulante "affichage". Vous devriez en être là :</p>
    <img src="/public/doc/media/quickTurn/step2.png" alt="étape 2"/>
    <p>Pour décoller le texte du cadre, allez dans l'outil marge <img src="/public/doc/media/margin_icon.png" alt="icone marge"/>. Selectionnez "%" en Unité et remplissez la marge extérieure global à 3 et l'intérieur à 2</p>    
</div>

<h3>Place aux images</h3>
<div>
    <p>Dans l'outil ajout, changez le type en image et remplissez la source de l'image à ajouter. Il s'agit du lien web de l'image. Cliquez sur le cadre pour l'ajouté. Si l'image n'apparait pas, c'est qu'elle est trop large et n'apparait à cause de nos règles sur le débord. Si vous n'avez toucher à rien, l'élément actif est  l'image. nous pouvons donc la redimensionner en selectionnant le HLA. Mettez l'unité en % et largeur à 40 et hauteur à 100%.</p>
    <p>Le texte se déplace alors plus bas. C'est à cause de l'algo d'alignement des éléments. Souvent efficace, cette fois si nou en préciserons un autre : dans alignement vertical, selectionnez "haut"</p>
     <img src="/public/doc/media/quickTurn/step3.png" alt="étape 3"/>
</div>

<h3>Place au code</h3>
<div>
    <p>Pour générer ce premier code, il suffit d'aller dans l'onglet code. Il  existe plusieurs solutions :</p>
    <ul>
        <li>Récupérer le code via la copie du HTML et du CSS séparé ou le HTML +CSS d'un coup. Les deux se colle très facilement dans un message sur forum ou dans une page web</li>
        <li>Sauver la fiche dans un fichier local, sur votre pc. Le code est un code lu par l'application. Si vous désirez le coller sur un forum, il vous faudrat l'adapter. Il n'est pour l'instant pas proposer d'outil pour le faire. Ces fichiers peuvent être charger dans l'application pour retravailler la ficher.</li>
    </ul>
    <p>Pour vos fiches futurs, vous pouvez aussi les enregistrer en ligne via l'onglet fiche. Il faut cependant un compte sur le site.</p>
</div>

<h3>Conclusion</h3>
<div>
    <p>Voilà pour la fin de ce tutoriel. De nombreuse autres choses peuvent-être faite comme des bordures ou des effets sur les textes. Tentez, sauvez, modifiez, échangez. Et si vos ressentez l'envie de nous donner des retours, envoyez nous un mail. Nous le lirons avec attention.</p>
</div>


@@include('footer.html')