body {
  display: flex;
  margin: 0px;
  font-family: 'Noto Sans', sans-serif;
}
iframe{
  display: block;
}
nav {
  width: 200px;
  height: 100vh;
  background: #384552;
  border-right: 2px solid #888a92;
}
nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 200px;
}
nav li {
  width: 200px;
  position: relative;
}
nav li a {
  color: white;
  text-decoration: none;
  width: 200px;
  text-align: center;
  display: block;
  font-weight: 600;
  padding: 10px 0px;
  font-size: 16px;
  border-bottom: 1px solid white;
}
nav li ul {
  position: absolute;
  left: 200px;
  width: 200px;
  background: #4A5B6C;
  top: 0px;
  display: none;
}
nav li a.menu::after{
  content: "▼";
  display: inline-block;
  vertical-align: middle;  /* Align inline level elements vertically */
  position: absolute;
  right: 10px;
}
nav li:hover a.menu:after{
  transform: rotate(-90deg);
}
nav li:hover ul{
  display: block;
}

#body {
  padding: 20px;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  flex-grow: 1;
}
h1 {
  text-align: center;
}
#body >div {
  border: 1px solid #c2c0c0;
  background: #E0EEF6;
  padding: 10px; 
  max-width: 900px;
  margin: auto;
}
.flex{
    display:flex;
}
.flex div {
    flex-grow: 1;
    margin-bottom: 60px;
}