var add = {
  name: "add",
  auto: true,
  options: {
    newName: "",
    class : "",
    type : "div",
    src: null,
    alt: "",
    before: null,
    css:{
      backgroundColor: 'white',
      height:'50px',
      width:'80%',
      margin:'auto',
      marginTop: '20px'
    }
  }
};
self.opts.tools.add(add,0);
<add>
  <label>aide</label>:<button class='help-btn' onclick={showHelp}>?</button> <br />
  <div class='over-help' show='{help}'><br />
    Pour utiliser cet outil : <br />
    - entrer le nom de votre élément. (optionnel)<br />
    - choisissez le type.<br />
    - entrez un nom de classe. (optionnel)<br />
    - cliquez dans la fiche pour ajouter l'élément. Si vous cliquez dans un élément déjà existant, le nouvel élément sera ajouté dans l'élément existant et non dans la racine de la fiche. 
  </div><br />
  <label for="name_edit">Nom</label>:
  <input type="text" id="nameEdit" placeholder="non obligatoire" /><br/>
  <label for="type_edit">Type</label>:
  <select name="select" id="typeEdit" onchange={update}>
    <option value="div">bloc</option> 
    <option value="img">image</option>
  </select><br/>
  <!--<label for="class_edit">class</label>:
  <input type="text" id="class_edit" ng-model="tool.options.class" ng-value="{{tool.options.class}}"/><br/>-->
  <div show={typeEdit.value == 'img'}>
    <label for="src_edit">Source</label>:
    <input type="text" id="srcEdit" /><br/>
    <label for="alt_edit">texte alternatif</label>:
    <input type="text" id="altEdit" /><br/>
  </div>
  var self= this;
  self.help=false;
  
  showHelp(e){
    self.help = !self.help;
  }
 
  self.applyOn= function(e){
    self.create(self.opts.tools.target, self.typeEdit.value, self.nameEdit.value,"",null);
  };
  
  self.create= function(elem, type,newName,classe,elemBefore){
    var newElem = document.createElement(type);
    if(newName==""){
      newName = self.opts.fiche.name.new();
    }
    if(classe==""){
      classe= "newElem";
    }
    self.opts.fiche.setClassToElem(newElem, classe);
    self.opts.fiche.setIdToElem(newElem, newName);
    if(type=="img"){
      newElem.src=self.srcEdit.value;
      newElem.alt=self.altEdit.value;
    }
    elem.insertBefore(newElem, elemBefore);
    self.opts.tools.setTargetNoEvent(newElem);
    console.log("newElem",newElem)
  };
  add.create=self.create;
  add.afterApply=self.applyOn;
</add>