var border = {
  name: "border",
  options: {
    class: null,
    css:{
      num :{
        topRight: 0,
        botRight: 0,
        botLeft: 0,
        borderWidth : 0,
        topLeft: 0,
        borderTopLeftRadius:0,
        borderTopRightRadius:0,
        borderBottomLeftRadius:0,
        borderBottomRightRadius:0
      },
      txt :{
        unite: 'px',
        borderStyle:'hidden'
      },
      color: {
        borderColor:'000000'
      }
    }
  },
  init : {
    topRight: 0,
    botRight: 0,
    botLeft: 0,
    borderWidth: 0,
    topLeft: 0,
    borderTopLeftRadius: 0,
    borderTopRightRadius: 0,
    borderBottomLeftRadius: 0,
    borderBottomRightRadius: 0,
    unite: 'px',
    borderStyle: 'hidden',
    borderColor: ''
  }
};
self.opts.tools.add(border,3);
<border>
  <label for="avancedEdit" class='large'>mode avancé</label> :<input type="checkbox"  name="avancedEdit" id="avancedEdit" checked="{opts.tools.avanced}" onchange="{opts.tools.setAvanced}"/> <br />
  <h2>Bordure</h2>
  <label for="borderColor">couleur de bordure :</label> 
  <input id="borderColor" type="text" class="color" data-type="color" value={border.options.css.color.borderColor} onchange={applyOn}/><br/>
  <label for="borderWidth">taille</label>:
  <input type="text" id="borderWidth" data-type="num" value={border.options.css.num.borderWidth} onchange={applyOn}/><br/>
  <label for="borderStyle">forme</label>:
  <select id="borderStyle" value={border.options.css.txt.borderStyle} data-type="txt" onchange={applyOn}>
    <option value="hidden" s>cachée</option>
    <option value="solid" >solide</option>
    <option value="dotted">dotted(points)</option>
    <option value="dashed">dashed(pointillé)</option>
    <option value="double">double</option>
    <option value="groove">groove(rainure)</option>
    <option value="ridge">ridge</option>
    <option value="inset">inset(interieur)</option>
    <option value="outset">outset(extérieur)</option>
    <option value="inherit">inherit(hérité)</option>
  </select><br/>
  <br/>
  <h2>Arrondi</h2>
  <div hide={opts.tools.avanced}>
    <label for="radius">tous les angles</label>:
    <input type="text" id="radius" value="{border.options.css.num.borderTopLeftRadius}" onchange={simpleRadius}/><br/>
  </div>
  <div show={opts.tools.avanced}>
    <label for="borderTopLeftRadius">haut gauche</label>:
    <input type="text" id="borderTopLeftRadius" value="{border.options.css.num.borderTopLeftRadius}" data-type="num" onchange={applyOn}/><br/>
    <label for="borderTopRightRadius">haut droite</label>:
    <input type="text" id="borderTopRightRadius" value="{border.options.css.num.borderTopRightRadius}" data-type="num" onchange={applyOn}/><br/>
    <label for="borderBottomRightRadius">bas droite</label>:
    <input type="text" id="borderBottomRightRadius" value="{border.options.css.num.borderBottomRightRadius}" data-type="num" onchange={applyOn}/><br/>
    <label for="borderBottomLeftRadius">bas gauche</label>:
    <input type="text" id="borderBottomLeftRadius" value="{border.options.css.num.borderBottomLeftRadius}" data-type="num" onchange={applyOn}/><br/>
  </div>
  <label for="unite">unité</label>:
  <select name="select" id="unite" value="{border.options.css.txt.unite}" data-type="txt" onchange={applyOn}>
    <option value="px">px</option> 
    <option value="%">%</option>
  </select>
  <label for="autoEdit" class='large'>auto-actualisation</label> :<input type="checkbox" checked={opts.tools.auto} onchange={opts.tools.setAuto} name="autoEdit" id="autoEdit" /> <br />
  <button onclick={opts.tools.afterApply} hide={opts.tools.auto}>
    appliquer les changements
  </button>
  
  var self =this;
  self.auto= true;
    
  simpleRadius(){
    border.options.css.num.borderTopLeftRadius = self.radius.value;
    border.options.css.num.borderTopRightRadius = self.radius.value;
    border.options.css.num.borderBottomRightRadius = self.radius.value;
    border.options.css.num.borderBottomLeftRadius = self.radius.value;
    if(self.auto){
      opts.tools.afterApply();
    }
  }
    
  applyOn(e) {
    var label=e.target.getAttribute('id');
    border.options.css[e.target.dataset.type][label]=e.target.value;
    if(self.auto){
      opts.tools.afterApply();
    }
  };
  
  self.target=function(target){
    self.opts.util.init(border.options.css,border.init);
    console.log(target,border.options.css);
    self.update();
  }
  
  self.opts.tools.on('target', self.target);
  
  self.on('mount', function(){
    new jscolor.color(self.borderColor);
    self.target(self.opts.tools.target);
  })
  
  self.on('unmount', function(){
    self.opts.tools.off('target')
  })
  
  border.apply= self.applyOn;
</border>