var code = {
  name: "code",
  fiche:{},
  options: {
    class: null,
    css:{
      color: {
      }
    }
  },
  init : {
  }
};
self.opts.tools.add(code,8);
<code>
  <h2>CSS</h2>
  <div class="export">{code.fiche.css}</div>
  <h2>HTML</h2>
  <div class="export">{code.fiche.html}</div>
  <h2>HTML + CSS</h2>
  <div class="export">{code.fiche.mix}</div>
  <br/>
  <button onclick={applyOn} class="large-button">
    exporter
  </button>
  <save-template></save-template>
  <load-template></load-template>
  
  var self =this;
    
  applyOn() {
    code.fiche.html=document.getElementById("fiche").innerHTML;
    code.fiche.css=document.getElementById("styleEditor").innerHTML;
    code.fiche.mix= document.getElementById("styleEditor").outerHTML+code.fiche.html;
  };


  self.on('mount', function(){
    self.applyOn();
  })
  
  code.apply= self.applyOn;
</code>