var color = {
  name: "color",
  options: {
    class: null,
    css:{
      color: {
        color: 000000,
        backgroundColor: 000000,
        borderColor: 000000,
        borderTopColor: 000000,
        borderRightColor: 000000,
        borderBottomColor: 000000,
        borderleftColor: 000000,
        outlineColor: 000000,
        textDecorationColor: 000000
      }
    }
  },
  init : {
    color: 000000,
    backgroundColor: 000000,
    borderColor: 000000,
    borderTopColor: 000000,
    borderRightColor: 000000,
    borderBottomColor: 000000,
    borderleftColor: 000000,
    outlineColor: 000000,
    textDecorationColor: 000000
  }
};
self.opts.tools.add(color,6);
<color>
  <h2>Couleur</h2>
  <label for="backgroundColor">couleur de fond </label>:
  <input id="backgroundColor" type="text" class="color" value={color.options.css.color.backgroundColor} data-type="color" onchange={applyOn}/><br/>
  <label for="color">couleur du texte </label>:
  <input id="color" type="text" class="color" value={color.options.css.color.color} data-type="color" onchange={applyOn}/><br/>
  <label for="textDecorationColor">couleur des décorations textuelles </label>:
  <input id="textDecorationColor" type="text" class="color" value={color.options.css.color.textDecorationColor} data-type="color" onchange={applyOn}/><br/>
  <label for="borderColor">couleur de bordure </label>: 
  <input id="borderColor" type="text" class="color" value={color.options.css.color.borderColor} data-type="color" onchange={applyOn}/><br/>
  <label for="autoEdit" class='large'>auto-actualisation</label> :<input type="checkbox" checked={opts.tools.auto} onchange={opts.tools.setAuto} name="autoEdit" id="autoEdit" /> <br />
  <button onclick={opts.tools.afterApply} hide={opts.tools.auto}>
    appliquer les changements
  </button>
  
  var self =this;
  self.auto= true;
    
  applyOn(e) {
    var label=e.target.getAttribute('id');
    color.options.css[e.target.dataset.type][label]=self[label].value;
    if(self.auto){
      opts.tools.afterApply();
    }
  };
  
  self.target=function(target){
    self.opts.util.init(color.options.css,color.init);
    console.log(target,color.options.css);
    self.update();
  }
  
  self.opts.tools.on('target', self.target);
  
  self.on('mount', function(){
    new jscolor.color(self.color);
    new jscolor.color(self.backgroundColor);
    new jscolor.color(self.textDecorationColor);
    new jscolor.color(self.borderColor);
    self.target(self.opts.tools.target);
  })
  
  self.on('unmount', function(){
    self.opts.tools.off('target')
  })
  
  color.apply= self.applyOn;
</color>