var del = {
  name: "del",
  options: {
    class: null,
    css:{}
  },
  init : {}
};
self.opts.tools.add(del,7);
<del>
  <div>cliquez sur l'élément à supprimer.</div>
  
  var self =this;
  self.auto= true;
    
  afterapply(){
    self.opts.tools.target.parentNode.removeChild(self.opts.tools.target);
    self.supp_div_idcss(self.opts.tools.target.id);
  }
    
  supp_div_idcss(nom_elem) {
    /*supression du css associé*/
    var styleEmpl = document.getElementById('styleEditor').firstChild;
    var reg = new RegExp("#" + nom_elem + "{.+?}", "");
    styleEmpl.nodeValue = styleEmpl.nodeValue.replace(reg, "");
  }
  
  del.afterApply= self.afterapply;
</del>