var dimension = {
  name: "dimension",
  fiche:{},
  auto: true,
  dimensionMouse:true,
  options: {
    class: null,
    css:{
      num: {
        width: 0,
        minWidth: 0,
        maxWidth: 0,
        height: 0,
        minHeight: 0,
        maxHeight: 0
      },
      txt :{
        unite: 'px',
        display:'block',
        overflow:'hidden'
      },
      color : {
        backgroundColor: ''
      }
    }
  },
  init:{
    unite: 'px',
    width:0,
    minWidth: 0,
    maxWidth: 0,
    height: 0,
    minHeight: 0,
    maxHeight: 0,
    display: '',
    overflow: 'initial',
    backgroundColor: ''
  }
};
self.opts.tools.add(dimension,2);
<dimension>
  <label for="avancedEdit" class='large'>mode avancé</label> :<input type="checkbox"  name="avancedEdit" id="avancedEdit" checked="{opts.tools.avanced}" onchange="{opts.tools.setAvanced}"/> <br />
  <h2>Largeur</h2>
  <label for="width">largeur</label>:
  <input type="text" id="width" data-type="num" value={dimension.options.css.num.width} onchange={applyOn}/><br/>
  <div show={opts.tools.avanced}>
    <label for="minWidth">min en px</label>:
    <input type="text" id="minWidth" data-type="num" value={dimension.options.css.num.minWidth} onchange={applyOn}/><br/>
    <label for="maxWidth">max en px</label>:
    <input type="text" id="maxWidth" data-type="num" value={dimension.options.css.num.maxWidth} onchange={applyOn}/>
  </div><br/>
  <h2>Hauteur</h2>
  <label for="hauteur_edit">hauteur</label>:
  <input type="text" id="height" data-type="num" value={dimension.options.css.num.height} onchange={applyOn}/><br/>
  <div show={opts.tools.avanced}>
    <label for="minHeight">min en px</label>:
    <input type="text" id="minHeight" data-type="num" value={dimension.options.css.num.minHeight} onchange={applyOn}/><br/>
    <label for="maxHeight">max en px</label>:
    <input type="text" id="maxHeight" data-type="num" value={dimension.options.css.num.maxHeight} onchange={applyOn}/>
  </div><br/>
  <label for="overflow">débordement</label>:
  <select id="overflow" data-type="txt" value={dimension.options.css.txt.overflow} onchange={applyOn}>
    <option value="initial" selected>normal</option> 
    <option value="inherit">hérité</option>
    <option value="scroll">barre de  défilement</option>
    <option value="auto">barre de défilement automatique</option>
    <option value="hidden">cacher les débordements</option>
    <option value="visible">afficher les débordements</option>
  </select><br/>
  <label for="unite">unité</label>:
  <select id="unite" data-type="txt" value="dimension.options.css.txt.unite" onchange={applyOn}>
    <option value="px" selected>px</option> 
    <option value="%">%</option>
  </select><br/>
  <br/>

  <div show={opts.tools.target.tagName=='IMG'}>
    <label for="src_edit">Source</label>:
    <input type="text" id="src_edit" value={opts.tools.target.src} change={setSrc}/><br/>
    <label for="alt_edit">texte alternatif</label>:
    <input type="text" id="alt_edit" value={opts.tools.target.alt} change={setAlt}/><br/>
  </div>
  <label for="backgroundColor">couleur de fond :</label> 
  <input id="backgroundColor" type="text" class="color" data-type="color" value={dimension.options.css.color.backgroundColor} onchange={applyOn}/><br/>
  <label for="display">affichage</label>:
  <select id="display" data-type="txt" value={dimension.options.css.txt.display} onchange={applyOn}>
    <option value="block">bloc</option>
    <option value="inline">en ligne</option>
    <option value="inline-block">block en ligne</option>
    <option value="node">cachée</option>
  </select><br/>
  <label for="autoEdit" class='large'>auto-actualisation</label> :<input type="checkbox" checked={opts.tools.auto} onchange={opts.tools.setAuto} name="autoEdit" id="autoEdit" /> <br />
  <button onclick={opts.tools.afterApply} hide={opts.tools.auto}>
    appliquer les changements
  </button>
  
  var self =this;
  self.auto= true;
  self.help= false;
  
  setSrc(e){
    self.opts.tools.target.src=e.target.value;
  }
  
  setAlt(e){
    self.opts.tools.target.alt=e.target.value;
  }
  
  self.target=function(target){
    self.opts.util.init(dimension.options.css,dimension.init);
    console.log(target,dimension.options.css);
    self.update();
  }
  
  self.opts.tools.on('target', self.target);
  
  applyOn(e) {
    console.log("applyon", e.target)
    var label=e.target.getAttribute('id');
    dimension.options.css[e.target.dataset.type][label]=e.target.value;
    self.update();
    if(self.auto){
      opts.tools.afterApply();
    }
  };
  
  dimension.frameApply= self.applyOn;
  
  self.on('mount', function(){
    new jscolor.color(self.backgroundColor);
    self.target(self.opts.tools.target);
  })
  
  self.on('unmount', function(){
    self.opts.tools.off('target')
  })
</dimension>