<frame-tool></frame-tool>

<frame-border>
  <div class="top">
    <label for="borderColor">couleur de bordure :</label> 
    <input id="borderColor" type="text" class="color" data-type="color" value={border.options.css.color.borderColor} onchange={border.apply}/>
    <label for="borderWidth">taille</label>:
    <input type="text" id="borderWidth" data-type="num" value={border.options.css.num.borderWidth} onchange={border.apply}/>
    <label for="borderStyle">forme</label>:
    <select id="borderStyle" value={border.options.css.txt.borderStyle} data-type="txt" onchange={border.apply}>
      <option value="hidden" s>cachée</option>
      <option value="solid" >solide</option>
      <option value="dotted">dotted(points)</option>
      <option value="dashed">dashed(pointillé)</option>
      <option value="double">double</option>
      <option value="groove">groove(rainure)</option>
      <option value="ridge">ridge</option>
      <option value="inset">inset(interieur)</option>
      <option value="outset">outset(extérieur)</option>
      <option value="inherit">inherit(hérité)</option>
    </select>
  </div>
  var self=this;
  self.on('mount', function(){
    new jscolor.color(self.borderColor);
  })
</frame-border>

<frame-dimension>
  <div class="top">
    <label for="width">L</label>:
    <input type="text" id="width" data-type="num" value={dimension.options.css.num.width} onchange={dimension.frameApply}/>
    <label for="hauteur_edit">H</label>:
    <input type="text" id="height" data-type="num" value={dimension.options.css.num.height} onchange={dimension.frameApply}/>
    <input id="backgroundColor" type="text" class="color" data-type="color" value={dimension.options.css.color.backgroundColor} onchange={dimension.frameApply}/>
  </div>
  <div class="bottom" onmousedown={setDownApply}></div>
  var self=this;
  self.on('mount', function(){
    new jscolor.color(self.backgroundColor);
  })
  
  setDownApply(e){
    dimension.downApply=onMove;
    dimension.coord = {
      x:e.clientX,
      y: e.clientY
    };
    dimension.options.css.txt.unite="px";
    console.log("setDownApply",dimension.coord,dimension.downApply);
  };
        
  function onMove(e){
    console.log("tool.downApply");
    if(e.buttons==1 ){
      console.log('downapply',e);
      var x = e.clientX;
      var y = e.clientY;
      dimension.options.css.num.height = self.opts.tools.target.clientHeight + y - dimension.coord.y;
      dimension.options.css.num.width = self.opts.tools.target.clientWidth + x - dimension.coord.x;
      self.opts.util.applyProps(opts.tools.selected.options.css,opts.tools.selected.init);
      self.opts.fiche.refresh();
      dimension.coord.x = x;
      dimension.coord.y = y;
    } else{
      dimension.downApply=null;
      self.update();
    }
  }
</frame-dimension>