var margin = {
  name: "margin",
  options: {
    class: null,
    css:{
      num: {
        paddingTop: 0,
        paddingRight: 0,
        paddingBottom: 0,
        paddingLeft: 0,
        marginTop: 0,
        marginRight: 0,
        marginBottom: 0,
        marginLeft: 0
      },
      txt: {
        display: 'block',
        overflow: 'hidden',
        unite: 'px'
      }
    }
  },
  init : {
    paddingTop:0,
    paddingRight: 0,
    paddingBottom: 0,
    paddingLeft: 0,
    marginTop:0,
    marginRight: 0,
    marginBottom: 0,
    marginLeft: 0,
    unite: 'px',
    display: 'block',
    overflow: 'hidden'
  }
};
self.opts.tools.add(margin,5);
<margin>
  <label for="avancedEdit" class='large'>mode avancé</label> :<input type="checkbox"  name="avancedEdit" id="avancedEdit" checked="{opts.tools.avanced}" onchange="{opts.tools.setAvanced}"/> <br />
  <div hide={opts.tools.avanced}>
    <h2>Marge extérieure</h2>
    <label for="Margin_edit">global</label>:
    <input type="text" id="Margin_edit_edit" ng-model="tool.margin" value={margin.options.css.num.marginTop} onchange={simpleMargin}/><br/>
    <br/>
    <h2>Marge intérieure</h2>
    <label for="Padding_edit">global</label>:
    <input type="text" id="Padding_edit_edit" ng-model="tool.padding" value={margin.options.css.num.paddingTop} onchange={simplePadding}/><br/>
  </div>
  <div show={opts.tools.avanced}>
    <h2>Marge extérieure</h2>
    <label for="marginTop">haut</label>:
    <input type="text" id="marginTop" value={margin.options.css.num.marginTop} data-type="num" onchange={applyOn}/><br/>
    <label for="marginRight">droite</label>:
    <input type="text" id="marginRight" value={margin.options.css.num.marginRight} data-type="num" onchange={applyOn}/><br/>
    <label for="marginBottom">bas</label>:
    <input type="text" id="marginBottom" value={margin.options.css.num.marginBottom} data-type="num" onchange={applyOn}/><br/>
    <label for="marginLeft">gauche</label>:
    <input type="text" id="marginLeft" value={margin.options.css.num.marginLeft} data-type="num" onchange={applyOn}/><br/>
    <br/>
    <h2>Marge intérieure</h2>
    <label for="topPadding">haut</label>:
    <input type="text" id="paddingTop" value={margin.options.css.num.paddingTop} data-type="num" onchange={applyOn}/><br/>
    <label for="RightPadding">droite</label>:
    <input type="text" id="paddingRight" value={margin.options.css.num.paddingRight} data-type="num" onchange={applyOn}/><br/>
    <label for="BottomPadding">bas</label>:
    <input type="text" id="paddingBottom" value={margin.options.css.num.paddingBottom} data-type="num" onchange={applyOn}/><br/>
    <label for="LeftPadding">gauche</label>:
    <input type="text" id="paddingLeft" value={margin.options.css.num.paddingLeft} data-type="num" onchange={applyOn}/><br/>
  </div>
  <label for="unite">unité</label>:
  <select name="select" id="unite" value="{margin.options.css.txt.unite}" data-type="txt" onchange={applyOn}>
    <option value="px">px</option> 
    <option value="%">%</option>
  </select>
  <label for="autoEdit" class='large'>auto-actualisation</label> :<input type="checkbox" checked={opts.tools.auto} onchange={opts.tools.setAuto} name="autoEdit" id="autoEdit" /> <br />
  <button onclick={opts.tools.afterApply} hide={opts.tools.auto}>
    appliquer les changements
  </button>
  
  var self =this;
  self.auto= true;
    
  simpleMargin(e){
    margin.options.css.num.marginTop = e.target.value;
    margin.options.css.num.marginRight = e.target.value;
    margin.options.css.num.marginBottom = e.target.value;
    margin.options.css.num.marginLeft = e.target.value;
    if(self.auto){
      opts.tools.afterApply();
    }
  }
  
  simplePadding(e){
    margin.options.css.num.paddingTop = e.target.value;
    margin.options.css.num.paddingRight = e.target.value;
    margin.options.css.num.paddingBottom = e.target.value;
    margin.options.css.num.paddingLeft = e.target.value;
    if(self.auto){
      opts.tools.afterApply();
    }
  }
    
  applyOn(e) {
    var label=e.target.getAttribute('id');
    margin.options.css[e.target.dataset.type][label]=self[label].value;
    self.update();
    if(self.auto){
      opts.tools.afterApply();
    }
  };
  
  self.target=function(target){
    self.opts.util.init(margin.options.css,margin.init);
    console.log(target,margin.options.css);
    self.update();
  }
  
  self.opts.tools.on('target', self.target);
  
  self.on('mount', function(){
    self.target(self.opts.tools.target);
  })
  
  margin.apply= self.applyOn;
</margin>