var move = {
  name: "move",
  fiche:{},
  auto: true,
  moveMouse:true,
  options: {
    class: null,
    css:{
      num : {
        top:0,
        left:0
      },
      txt:{
        unite:'px',
        position:'relative'
      }
    }
  }
};
self.opts.tools.add(move,1);
<move>
  <label>aide</label>:<button class='help-btn' onclick={showHelp}>?</button> <br />
  <div class='over-help' show={help}><br />
    Cliquez sur l'élément à déplacer. L'élément suivra le mouvement de la souris tant que le bouton de la souris restera enfoncé.<br /><br />
    En mode avancé,  le déplacement à la souris est désactivable. De nouvelles options apparaissement comment le flottant :  
  </div>
  <label >alignement </label>:
  <one-choose-img data-icon="[['bottom',212,40,212,70], ['middle',242,40,242,70],['top',272,40,272,70]]"
              data-size= "30px" data-type="txt" data-prop="vertical-align" data-reset="[['num','top'],['num',left]]" id="textAlign"></one-choose-img><br/>
  <label for="avancedEdit" class='large'>mode avancé</label> :<input type="checkbox"  name="avancedEdit" id="avancedEdit" checked="{opts.tools.avanced}" onchange="{opts.tools.setAvanced}"/> <br />
  <div show={opts.tools.avanced}>
    <label for="move_mouse" class='large'>déplacement à la souris</label> :<input type="checkbox" checked={move.moveMouse} onchange={setMoveMouse}/> <br />
    <h2>Déplacement relatif</h2>
    <label for="move_top">haut</label>:
    <input type="text" id="top" data-type="num" value={move.options.css.num.top} onchange={autoApply}/><br/>
    <label for="move_left">gauche</label>:
    <input type="text" id="left" data-type="num" value={move.options.css.num.left} onchange={autoApply}/><br/>
    <label for="unite_edit">unité</label>:
    <select name="select" id="unite_edit" ng-model="move.options.css.txt.unite" data-type="txt" onchange={autoApply}>
      <option value="px" selected>px</option> 
      <option value="%">%</option>
    </select><br/>
  </div>
  <label for="autoEdit" class='large'>auto-actualisation</label> :<input type="checkbox" checked={opts.tools.auto} onchange={opts.tools.setAuto} name="autoEdit" id="autoEdit" /> <br />
  <button onclick={autoApply} hide={opts.tools.auto}>
    appliquer les changements
  </button>
  
  var self =this;
  self.auto= true;
  self.help= false;
  
  var clickLeft=false;
    
  var init={
    top:0,
    left:0,
    unite:'px'
  };
  
  showHelp(e){
    self.help = !self.help;
  }
  
  setMoveMouse(e){
    move.moveMouse=e.target.checked;
  }
  
  
  autoApply(){
    move.options.css.num.left=parseInt(self.left.value);
    move.options.css.num.top=parseInt(self.top.value);
    self.opts.util.applyProps(move.options.css,init);
    self.opts.fiche.refresh();
  }
  
  self.opts.tools.on('target', function(target){
    clickLeft=true;
    move.coord={};
    move.options.css.txt={
      position :'relative',
      unite:'px'
    };
    self.opts.tools.target.style.position="relative";
    self.update();
  });
  
  self.on('unmount', function(){
    self.opts.tools.off('target');
  })
    
  //capture le mouvement pour le déplacement
  downapply(e){
    if (clickLeft && move.moveMouse) {
      var x = e.clientX;
      var y = e.clientY;
      move.options.css.num.top += y - (move.coord.y || y);
      move.options.css.num.left += x - (move.coord.x || x);
      self.opts.tools.target.style.top = move.options.css.num.top+move.options.css.txt.unite;
      self.opts.tools.target.style.left = move.options.css.num.left+move.options.css.txt.unite;
      move.coord.x = x;
      move.coord.y = y;
    }
  }
   
  afterapply(){
    /*important pour la fin du déplacement à la souris*/
    if (clickLeft){
      clickLeft=false;
      target=self.opts.tools.target;
      self.opts.util.applyProps(move.options.css,init);
      self.opts.fiche.refresh();
      target.style.top = null;
      target.style.left = null;
      target.style.position = null;
    }else{
      self.opts.util.applyProps(move.options.css,init);
      self.opts.fiche.refresh();
    }
  };

  move.downApply=self.downapply;
  move.afterApply= self.afterapply;
</move>