var text = {
  name: "text",
  fiche:{},
  auto: true,
  options: {
    text: "",
    edit: false,
    class : null,
    font_link:"",
    css:{
      num: {
        fontSize: ''
      },
      txt:{
        textAlign:'inherit',
        fontFamily:'inherit',
        unite: 'px'
      },
      color :{
        color :'000000'
      }
    }
  },
  init: {
    textAlign:'inherit',
    fontFamily:'inherit',
    color :'',
    fontSize : '',
    unite:'px'
  }
};
self.opts.tools.add(text,4);
<text>
  <label >alignement </label>:
  <one-choose-img data-icon="[['left',0,40,0,70], ['right',30,40,30,70],['center',60,40,60,70],['justify',90,40,90,70]]"
              data-size= "30px" data-type="txt" data-prop="text-align" id="textAlign"></one-choose-img><br/>
  <label >décoration </label>:
  <multi-choose-img data-icon="[['underline',120,40,120,70,false], ['line-through',150,40,150,70,false], ['overline',180,40,180,70,false]]"
              data-size = "30px" data-type="txt" data-prop="text-decoration" id="textDecoration"></multi-choose-img><br/>
  <label for="fontSize">taille</label>:
  <input type="text" id="fontSize" onchange={applyOn} data-type="num" value={text.options.css.num.fontSize} /><br/>
  <label for="color">couleur</label>:
  <input class="color" id="color" onchange={applyOn} data-type="color" value={text.options.css.color.color} /><br/>
  <label for="fontFamily">police</label>:
  <input type="text" value={text.options.css.txt.fontFamily} data-type="txt" id="fontFamily" onchange={applyOn}/> <br />
  <label for="unite">unité</label>:
  <select name="select" id="unite" value={text.options.css.txt.unite} data-type="txt" onchange={applyOn}>
    <option value="px">px</option> 
    <option value="%">%</option>
    <option value="em">em</option>
  </select><br/>
  <label for="text_edit">texte</label>:
  <textarea id="text_edit" value={text.options.text} onchange={applyText}>
  </textarea>
  <label for="autoEdit" class='large'>auto-actualisation</label> :<input type="checkbox" checked={opts.tools.auto} onchange={opts.tools.setAuto} name="autoEdit" id="autoEdit" /> <br />
  <button onclick={afterapply} hide={opts.tools.auto}>
    appliquer les changements
  </button>
  <br /><br />
  <label for="repeatSelect"> fichiers de polices chargés  </label>
  <select name="repeatSelect" id="repeatSelect" ng-model="tool.options.selected_link">
    <option each={opts.fiche.font} value={id}>{link}</option>
  </select>
  <label for="fontLink">lien du fichier</label>:<input type="text" id="fontLink" /> <br />
  <button onclick={addFont} >
    charger
 </button>
  
  var self =this;
  self.auto= true;
  
  var init={
    top:0,
    left:0,
    unite:'px'
  };
  
  editText(target){
    text.options.text=target.childNodes[0].nodeValue.replace(/<br\s*\/?>/ig, "\r\n");
  }
    
  createText(target){
    add.create(target, "p",'','newElem');
    text.options.text="";
  }
  
  self.target= function(target){
    self.opts.util.init(text.options.css,text.init);
    if(target == null)
      return
      console.log(target.tagName,target.tagName=='P' )
    if(target.tagName=='P'){
      try{
        self.editText(target);
      }catch(e){
        target.appendChild(document.createTextNode(""));
      } 
    }else{
      self.createText(target);
    }
    self.update();
  }
  
  self.opts.tools.on('target', self.target);
  
  applyOn(e) {
   console.log(e.target,e.target.dataset.type,border.options.css)
    var label=e.target.getAttribute('id');
    text.options.css[e.target.dataset.type][label]=e.target.value;
    if(self.auto){
      opts.tools.afterApply();
    }
  };
   
  afterapply(){
    console.log("text",text.options.text.replace(/(\r\n|\n|\r)/g, '<br />'));
    self.opts.tools.target.innerHTML = text.options.text.replace(/(\r\n|\n|\r)/g, '<br />');
    self.opts.util.applyProps(text.options.css,text.init);
    opts.fiche.refresh();
  };
  
  addFont(){
    self.opts.fiche.newPolice(self.fontLink.value);
    console.log(self.opts.fiche.font);
    self.update();
  }
  
  applyText(e){
    text.options.text=e.target.value;
    console.log("actu txt",text.options.text,e.target);
    if(self.auto){
      opts.tools.afterApply();
    }
  }
  
  self.on('mount', function(){
    new jscolor.color(self.color);
    console.log( "target", self.opts.tools.target)
    self.target(self.opts.tools.target);
  })
  
  self.on('unmount', function(){
    self.opts.tools.off('target')
  })

  text.afterApply= self.afterapply;
</text>