<tuto>
  <div> <div id="close-popup" onclick={unmount}>x</div>
    <span>Première visite ?</span><br/>
    <span>N'oubliez pas qu'un crédit et un lien vers rpdiv sont non obligatoires mais bienvenus et souhaités.</span><br/><br/>
    <span>Utilisez le bouton </span><div id="back_add_" class="tool"></div>
    <span> pour ajouter des éléments. Le dernier ajouté
      sera l'élément actif. De manière générale, l'élément actif sera le dernier cliqué</span><br/>
    <span>Utilisez le bouton </span><div id="back_select_" class="tool"></div>
    <span> pour modifier la taille, la couleur de l'élément actif.</span><br/>
    <span>Utilisez le bouton </span><div id="back_border_" class="tool"></div>
    <span> pour ajouter et modifier les bordures et les angles de l'élément actif.</span><br/>
    <span>Utilisez le bouton </span><div id="back_text_" class="tool"></div>
    <span> pour ajouter et modifier les textes d'un élément. Le texte n'est créer qu'après avoir clicquer sur l'élément parent ou éditer en cliquant sur le texte</span><br/>
    <span>Utilisez le bouton </span><div id="back_margin_" class="tool"></div>
    <span> pour modifier les marges intérieures et extérieures de l'élément actif.</span><br/>
    <br/>
    <span> Rpdiv n'utilise pas de cookies pour vous tracer, vous proposer de la publicité ou pour récolter des informations personnelles.
      Les seuls cookies utilisés sont :</span><br/>
    <span> - un cookie de session pour que n'ayez pas à vous reconnecté à chaque page</span><br/>
    <a href="http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/">en savoir plus sur les cookies (CNIL)</a><br/>
    <br/>
    <span><a href="/public/editor/doc/fr/index.html">Doc complète ici</a></span><br/>
    <span>N'oubliez pas de lire notre </span><a href="http://dev-editor.rpdiv.com/public/html/condition-utilisation.html">CGU</a><br/>
    <br/>
  </div>
</tuto>