@@include('../header.html', {"title": "ajout :doc RPDIV"})
<h2>L'outil d'ajout</h2>

<h3>Présentation </h3>
<div>
    <img src="/public/doc/media/add_icon.jpg" alt="ajout icone"/>
    <span> cet outil, premier dans la liste, permet d'ajouter des éléments très rapidement</span>
</div>

<h3>Ajouter un élement block (div)</h3>
<div>
    <img src="/public/doc/media/add_block.jpg" alt="champs de l'outil en mode block"/>
    <span> Vous pouvez donner un nom au prochain élément créer mais celui ci doit être unique. Si vous n'en donnez pas, l'élément serat nommé rpdiv_x ou x est le nombre d'élément créer</span>
    <span>Pour terminer la création, il ne vous reste plus qu'à cliquer un simple fois dans l'espace de travail. Plusieurs cliqe entraîne la création de plusieurs éléments</span> 
</div>

<h3>Ajouter un élement image (img)</h3>
<div>
    <img src="/public/doc/media/add_block.jpg" alt="champs de l'outil en mode block"/>
    <span>La démarche est la même que précédement, sauf que dans la liste déroulante, choississez "image". Il y a deux champs en plus à remplir :</span>
    <ul>
        <li>Source : il s'agit de mettre une url de l'image. Il est possible de mettre une url locale, mais la fiche ne serat fonctionnelle que votre pc.</li>
        <li>Texte Alternatif : texte qui s'affiche lorsque l'image ne charge pas. Cette balise étant aussi utilise aux personnes handicapés o utilisant un navigateur en mode texte, il vous est vivement conseillé de la remplir.</li>
    </ul>
</div>
@@include('../footer.html')