@@include('../header.html', {"title": "outil index : doc RPDIV"})
<h2>utilisation des outils</h2>

<h3>Présentation </h3>
<div>
    <img src="/public/doc/media/toolBar_icon.jpg" alt="position icone"/>
    <span>La barre d'outil vous permets d'accéder aux fonctionnalité d'un simple clic.</span>
    <ul class="number">
        <li><a href="/public/doc/fr/editor/tools/add.html">ajout</a></li>
        <li><a href="/public/doc/fr/editor/tools/move.html">position</a></li>
        <li><a href="/public/doc/fr/editor/tools/select.html">HLA Hauteur-Largeur-Affichage</a></li>
        <li><a href="/public/doc/fr/editor/tools/border.html">bordure</a></li>
        <li><a href="/public/doc/fr/editor/tools/text.html">texte</a></li>
        <li><a href="/public/doc/fr/editor/tools/margin.html">marge</a></li>
        <li><a href="/public/doc/fr/editor/tools/color.html">couleur</a></li>
        <li><a href="/public/doc/fr/editor/tools/delete.html">suppression</a></li>
        <li><a href="/public/doc/fr/editor/tools/code.html">générateur de code</a></li>
    </ul>
</div>

<h3>Élément actif et cadre de selection</h3>
<div>
    <span>L'élément actif est l'élément sur lequelle s'applique les transformations et opérations lorsque vous utilisez des outils. Pour définir un élément actif, faites clic droit sur un élément de la fiche et il deviendra actif. Lors de la création d'un élément, celui-ci deviendrat l'élément actif.</span>
    <span>Quelque soit l'outil, l'élément actif sera entouré par un cadre en pointillé noir. Ce cadre disparaitra de l'élément quand vous changerez d'élément actif.</span>
</div>

<h3>Options avancées</h3>
<div>
    <span>Afin de facilité la prise en main, certaines options sont cachée par défaut. Dans ce cas, l'outil posséde une cache à cocher  : "Mode Avancée. Si vous selectionnez cette de nouveaux champs apparaissent. Ils sont souvent expliqués à la fin de la page d'aide de l'outil en question" </span>
</div>
@@include('../footer.html')