@@include('../header.html', {"title": "position :doc RPDIV"})
<h2>L'outil de position</h2>

<h3>Présentation </h3>
<div>
    <img src="/public/doc/media/move_icon.jpg" alt="position icone"/>
    <span> cet outil, deuxième dans la liste, permet de déplacer des éléments. D'un point de vue css, l'élément prends un position relative et continuera donc de bouger bouger si vous aggrandissez, réduissez ou ajoutez des éléments au dessus de son point d'attache dans la fiche.</span>
</div>

<h3>Déplacement à la souris</h3>
<div>
    <span> Cliquez et restez appuyer sur l'élément à déplacer, bouger la souris et l'élément  suivra. Un fois l'élément placé, lachez le boutton de la souris.</span>
</div>

<h3>Déplacement avancé</h3>
<div>
    <img src="/public/doc/media/move_advanced.jpg" alt="champs de l'outil en mode avancé"/>
    <span>En mode avancé( bouton avancé coché), Vous avez la possibilité de désactivé la souris et celle de faire les ðeplacement via les deux champs de manière numérique </span>
</div>
@@include('../footer.html')