@@include('../header.html', {"title": "HLA :doc RPDIV"})
<h2>HLA Hauteur-Largeur-Affichage</h2>

<h3>Présentation </h3>
<div>
    <img src="/public/doc/media/select_icon.jpg" alt="position icone"/>
    <p>Cet outil, troisième dans la liste, permet de redimensionner et mettre en couleur des éléments.</p>
</div>

<h3>Redimension</h3>
<div>
    <p>Choissisez une unité et remplissez les deux champs Hauteur largeur pour redimensionner l'élément actif.</p>
    <p>En mode avancé, vous pourrait aussi choisir de mettre des tailles maximals et minimals en px. Concretement, cela signifie que peu importe la valeur donnée, la valeur appliquée serra toujours entre ces deux bornes.</p>
    <p>Par exemple :</p>
    <p>Nous mettons sur l'élément Y un largeur de  80 % , un maximun de 800 px et un minimum de 80px. Nous donnons aussi une largeur de  1200px à l'élément X parent de Y.</p>
    <p>1200px* 80% = 960px. Mais y est limité à 800px, donc les 160px de plus seront ignoré.</p>
    <p>Plus tard, on change la taille de X pour 500px. La taille de Y est aussi recalculé à 500px*80% soit 400px. Ce coup si la valeur est bien entre nos deux bornes min et max pour Y. Donc Y fera 400px de large</p>
</div>

<h3>Débordement</h3>
<div>
    <p> Cette option permet de déterminé ce qu'il advient de ce qui dépasse la taille de l'élément. Prenons l'exemple avec du texte dépassent d'un élément de 80*60px</p>
    <div class="flex">
      <div>
        <p> normal :</p>
        <p style="border:1px solid black;display: inline-block;width: 80px;height: 60px;">ceci est un texte destiné à être trop long</p>
      </div><div>
        <p> barre de défilement</p>
        <p style="border:1px solid black;display: inline-block;width: 80px;height: 60px;overflow: scroll">ceci est un texte destiné à être trop long</p>
      </div><div>
        <p> barre de défilement automatique</p>
        <p style="border:1px solid black;display: inline-block;width: 80px;height: 60px;overflow: auto">ceci est un texte destiné à être trop long</p>
      </div><div>
        <p> visible</p>
        <p style="border:1px solid black;display: inline-block;width: 80px;height: 60px;overflow: visible">ceci est un texte destiné à être trop long</p>
      </div><div>
        <p> cacher</p>
        <p style="border:1px solid black;display: inline-block;width: 80px;height: 60px;overflow: hidden">ceci est un texte destiné à être trop long</p>
      </div>
    </div>
</div>

<h3>Couleur de fond</h3>
<div>
    <p>Ce champ sert à chosiir une couleur de fond. Plus de détails dans l'outil <a href="color.html">couleur<a/>.</p>
</div>

<h3>Affichage</h3>
<div>
    <p>Il existe plusieurs types d'affichage au sein du css. Voici ceux que nous vous proposons :</p>
    <ul>
        <li> les blocs : ils sont redimensionnable à souhait, de base occupe 100% de la largeur  et provoquent des retour à la ligne. </li>
        <li> les lignes : Ils ne sont pas redimensionnable em largeur mais s'adapte jusque la largeur maximum. </li>
        <li> les blocs en lignes : ce sont des blocs ne provoquant pas de retour à la ligne. Par conséquent, il est possible d'en mettre plusieur sur une ligne.</li>
        <li> caché : les éléments sont retirés visuellement de la page. Ils n'occupent pas de place dans la page.</li>
    </ul>
</div>
@@include('../footer.html')