<fiche id="bodyEditor">
  <div id="fontZone"></div>
  <div id="fiche"><frame-tool id="active_node"></frame-tool></div>
  var self= this;
  self.on('mount', function(){
    console.log("style", self)
    self.opts.tools.activeNode=document.getElementById('active_node');
    self.styleElem=document.createElement('style');
    self.styleElem.setAttribute('id','styleEditor');
    self.root.appendChild(self.styleElem);
    self.opts.fiche.setFontDiv(self.fontZone);
    self.opts.fiche.setStyleElem(self.styleElem);
    self.fiche.addEventListener('mousedown',self.opts.tools.setTarget,false);
    self.fiche.parentNode.addEventListener('mousemove',self.opts.tools.downApply,false);
    self.fiche.parentNode.addEventListener('mouseup',self.opts.tools.afterApply,false);
  });
</fiche>