<menu>
  <div id="menuEditor" ng-controller="menuCtrl">
    <ul  each={self.menus}>
      <span >{name}</span>
      <ul class="showOnClick">
        <li each={submenus} onclick={effect}>{name}</li>
      </ul>
    </ul>
  </div>
  var fiche={};
  var about ={};
  function redirectBlog(){
    window.location.href = "../";
  }
  fiche.create = function () {
    console.log("test save");
    riot.mount('#popup', "create-fiche" , self.opts);
  };

  fiche.save = function () {
    console.log("test save opts :", self.opts);
    riot.mount('#popup', "save-fiche" , self.opts);
  };

  fiche.load = function () {
    console.log("test save");
    riot.mount('#popup', "load-fiche" , self.opts);
  };
  about.help = function(){
    riot.mount('#popup', "tuto" , self.opts);
  };
  about.contact = function () {
    riot.mount('#popup', "contact" , self.opts);
  };
  about.cgu = function () {
    riot.mount('#popup', "cgu" , self.opts);
  };
  self.menus = [
    {
      name: "site",
      submenus: [
        {
          name: "blog",
          effect: redirectBlog
        }/*,
         {
         name: "partenaires"
         },
         {
         name: "profil"
         }*/
      ]
    },
    {
      name: "Fiche",
      submenus: [
        {
          name: "créer",
          effect: fiche.create
        },
        {
          name: "sauver",
          effect: fiche.save
        },
        {
          name: "charger",
          effect: fiche.load
        }
      ]
    },
    {
      name: "à propos",
      submenus: [
        {
          name: "aide",
          effect: about.help
        },
        {
          name: "contact",
          effect: about.contact
        },
        {
          name: "CGU",
          effect: about.cgu
        }
      ]
    }
  ];
</menu>