<tool-list>
  <div each="{opts.tools.list}"  id="back_{name}" class="tool" onclick="{select}"></div>
  var self=this;
  self.on('update', function(){
    console.log("tools.list",self.opts.tools.list)
  });
  self.opts.tools.on('add', function(){
    console.log("update tool-list");
    self.update();
  })
  self.select=function(e){
    console.log("tool-list select")
    self.opts.tools.select(e.item.id);
  }
</tool-list>