<load-template>
  <h2>chargement local</h2>
  <label>nom du fichier</label>:
  <input id="loadFilename" type="file" />
  <button onclick={loadFiche}>charger</button>
  var self=this;
  self.fiche ={}
  self.fiche.html=document.getElementById("fiche").innerHTML;
          
  self.loadFiche= function() {
    var file = self.loadFilename.files[0];
    console.log(self.loadFilename.files[0]);
    var reader = new FileReader();
            
    reader.onloadend = function(e){
      console.log('json',e.target.result);
      var info = JSON.parse( e.target.result);
      console.log(info);
      self.parent.opts.fiche.reset(info.css);
      document.getElementById("fiche").innerHTML = info.html;
    };
           
    reader.readAsText(file, 'UTF-8');
  };
</load-template>