<save-template>
  <h2>sauvegarde locale</h2>
  <label>nom du fichier</label>:
  <input type="text" class="filename" id="textFilename" placeholder="mafiche"/>
  <button onclick={saveFiche}>Sauver</button>
  var self=this;
  self.fiche =self.opts.fiche.save();
  
  self.saveFiche= function() {
    var name= self.textFilename.value || self.textFilename.placeholder;
    var data = self.parent.opts.fiche.save();
    data.html= document.getElementById("fiche").innerHTML;
    console.log( name + ".json", data);
    saveAs(
        new Blob([JSON.stringify(data)]
        , {type: "text/plain;charset=" + document.characterSet})
        , name + ".json"
    );
  };
</save-template>